# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*               text=auto


# The above will handle all files NOT found below
# These files are text and should be normalized (Convert crlf => lf)
*.bash          text eol=lf
*.css           text diff=css
*.df            text
*.htm           text diff=html
*.html          text diff=html eol=lf
*.java          text diff=java eol=lf
*.js            text
*.json          text eol=lf
*.jsp           text eol=lf
*.jspf          text eol=lf
*.jspx          text eol=lf
*.properties    text eol=lf
*.sh            text eol=lf
*.tld           text
*.txt           text eol=lf
*.tag           text
*.tagx          text
*.xml           text
*.yml           text eol=lf


# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
# Archives
*.7z            binary
*.br            binary
*.gz            binary
*.tar           binary
*.zip           binary
*.jar           binary
*.so            binary
*.war           binary
*.dll           binary

# Documents
*.pdf           binary

# Images
*.ico           binary
*.gif           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.psd           binary
*.webp          binary

# Fonts
*.woff2         binary

# Other
*.exe           binary
*.class         binary
*.ear           binary
